.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    border-top: 0.1rem solid #e6e6e6;
    /* border: 5px solid #333; */
    margin: 1rem 0;
    overflow: auto;
}

.titleContainer {
    /* border: 5px solid #333; */
    padding: 1rem 0rem 1rem 0rem;
}

.titleContainer h3, .titleContainer p {
    display: inline;
}

.title {
    /* background: salmon; */
    margin-right: 1rem;
}

.title > a {
    color: #353535;
    text-decoration: none;
}

.title > a:hover {
    text-decoration: underline;
}

.date {
    /* background: seagreen; */
    color: #777777;
    font-size: .8rem;
    font-style: italic;
}

.thumbnail {
    margin-left: 1rem;
    float: right;
}

.description {

}