.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    border-top: 0.2rem solid #404040;
    /* border: 5px solid #333; */
    margin: 1rem 0;
    overflow: auto;
}

.titleContainer {
    /* border: 5px solid #333; */
    padding: 1rem 0rem 1rem 0rem;
}

.titleContainer h3, .titleContainer p {
    display: inline;
}

.title {
    /* background: salmon; */
    margin-right: 1rem;
}

.title > a {
    color: #404040;
    text-decoration: none;
}

.title > a:hover {
    text-decoration: underline;
}

.date {
    /* background: seagreen; */
    color: #777777;
    font-size: .8rem;
    font-style: italic;
}

.thumbnail {
    margin-left: 1rem;
    float: right;
    /* width: 300px; */
    /* height: 300px; */
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.thumbnail > img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.description {

}
