.posts {
    list-style-type: none;
    margin: 0;
}

.date {
    color: #777777;
    font-size: .8rem;
    font-style: italic;
}

.title {
    padding: 1rem 0 1rem 0;
}

.title > a {
    color: #353535;
    text-decoration: none;
}

.title > a:hover {
    text-decoration: underline;
}

.post > a {
    color: #353535;
    padding: 1rem 0 1rem 0;
    text-decoration: none;
}

.thumbnail {
}

.description {

}

.post {
    border-top: 0.1rem solid #e6e6e6;
    margin: 1rem 0;
}