.header {
    padding: 1rem 0 3rem;
}

.title {
    /* background-color: #404040; */
    color: #404040;
    /* color: #FFFFFF; */
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.2rem;
}

.title:hover {
    background-color: #404040;
    color: snow;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999999;
    font-size: 1.0rem;
    margin-right: 1.3rem;
    text-decoration: none;
    padding: 0.2rem;
}

.nav-item:hover {
    background-color: #9b9b9b;
    color:#ffffff;
}

.active-nav-item {
    background-color: #404040;
    color: snow;
    /* color: #333333; */
}